python_version >= '3.8'
git+https://github.com/Rapptz/discord.py@master
git+https://github.com/ssut/py-googletrans@master
jishaku
wavelink
parsedatetime
python-dateutil
tabulate
pytz
asyncpg
pillow
aenum
rapidfuzz
humanize
