python_version >= '3.11'
discord.py[voice,speed]
git+https://github.com/Rapptz/discord-ext-menus
asyncpg
jishaku
wavelink
parsedatetime
python-dateutil
tabulate
pillow
aenum
rapidfuzz
humanize
psutil
yt-dlp
git+https://github.com/PythonistaGuild/mystbin.py
